.device-data-container {
    font-family: Arial, sans-serif;
    /* margin: 20px; */
    background: #656E77;
    /* border: 1px solid red; */
    height: 100vh;
  }
  
  .device-data-heading {
    text-align: center;
  }

  .create-shipment-headings h1 {
    padding-bottom: 40px;
  }
  
  .device-data-input-container {
    background-color: #fff4e0;
    padding: 20px;
    /* border-radius: 10px; */
    margin: 0 auto; /* Center-align the container */
    max-width: 900px; 
    margin-top: 20px;
    
  }
  
  .dd-h4 {
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 0.4px;
    margin-top: 10px;
    margin-left: 50px;
  }
  
  .device-data-label {
    font-weight: bold;
    margin-left: 110px;
    font-weight: 100;
  }
  
  .device-data-input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-left: 110px;
  }
  
  .get-dd-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 280px;
  }
  
  .data-table-dd {
    width: 100%; /* Full width within the container */
    border-collapse: collapse;
    text-align: left;
    margin: 0 auto; /* Center-align the table */
    max-width: 900px; /* Set a maximum width */
    margin-top: 20px;
  }
  
  .table-header-dd {
    background-color: #007bff;
    color: white;
  }
  
  .table-header-dd th {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .table-row-dd td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .no-data-dd {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    color: white;
  }
  
  /* Add responsiveness */
  @media screen and (max-width: 768px) {
    .device-data-input-container {
      padding: 10px;
      max-width: 100%; /* Allow full width on small screens */
    }
  
    .data-table-dd {
      max-width: 100%;
      font-size: 14px; /* Adjust font size for smaller screens */
    }
  
    .table-header-dd th,
    .table-row-dd td {
      padding: 8px; /* Reduce padding */
    }
  }
  