.footer {
    background-color: white;
    color: black;
    padding: 40px 0;
    text-align: center;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-links li {
    display: inline;
}

.footer-links a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #00aaff;
    cursor: pointer;
}

.footer-copyright {
    margin-top: 20px;
    font-size: 16px;
}

.footer-social {
    margin-top: 50px;
}

.footer-social a {
    color: black;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.footer-social a:hover {
    color: #00aaff;
}

.footer-social svg {
    margin: 0 10px;
}



@media screen and (min-width: 1024px) and (max-width:1326px) {
    .footer-links a {
        color: black;
        font-size: 22px;
    }

    .footer-social {
        margin-top: 40px;
    }

    .footer-social a {
        color: black;
        margin: 0 6px;
        transition: color 0.3s ease;
        font-size: 16px;
    }

    .footer-copyright {
        margin-top: 20px;
        font-size: 16px;
    }
}