*,
*::before,
*::after {
    box-sizing: border-box;
}

.header-container {
    background-image: url('../assets/img.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1000px;
    color: #fff;
    position: relative;
    margin-top: -36px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, top 0.3s ease;
    z-index: 1000;
    background-color: transparent;
}

.header.scrolled {
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #000;
}

.logo-image {
    max-width: 100px;
    height: auto;
    margin-left: 20px;
    margin-top: 10px;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.menu-item {
    position: relative;
    margin: 0 20px;
    padding: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.menu-item .menu-icon {
    font-size: 1.6rem;
    color: inherit;
}

.menu-item .menu-text {
    display: block;
    position: relative;
    bottom: -20px;
    left: 15%;
    transform: translateX(-50%);
    font-size: 14px;
    font-weight: bold;
}

.menu-item:hover .menu-text,
.menu-item:hover .menu-icon {
    color: blue;
    display: block;
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-button {
    position: relative;
    cursor: pointer;
    padding: 20px;
    color: white;
    transition: color 0.3s ease;
}

.header-button .button-icon {
    font-size: 2.0rem;
}

.header-button .button-text {
    display: block;
    position: relative;
    bottom: -20px;
    left: 20%;
    transform: translateX(-50%);
    font-size: 16px;
    font-weight: bold;
}

.header-button:hover .button-text,
.header-button:hover .button-icon {
    color: blue;
    display: block;
}

.header.scrolled .menu-item .menu-icon,
.header.scrolled .menu-item .menu-text,
.header.scrolled .header-button .button-icon,
.header.scrolled .header-button .button-text {
    color: black;
}

.header.scrolled .menu-item:hover .menu-text,
.header.scrolled .menu-item:hover .menu-icon,
.header.scrolled .header-button:hover .button-text,
.header.scrolled .header-button:hover .button-icon {
    color: blue;
}

.menu-item .menu-text,
.menu-item .menu-icon {
    white-space: nowrap;
}

.header-button .button-text,
.header-button .button-icon {
    white-space: nowrap;
}

.hero-container h1 {
    color: black;
    text-align: left;
    padding-top: 600px;
    padding-left: 80px;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}

.hero-container p {
    color: black;
    text-align: left;
    padding-left: 80px;
    font-size: 26px;
    margin-top: 0;
}



@media screen and (min-width: 1024px) and (max-width:1326px) {
    .header {
        position: absolute;
        background-color: transparent;
    }

    .header-container {
        height: auto;
        padding: 50px 20px;
    }

    .hero-container h1 {
        font-size: 34px;
        padding-top: 400px;
        padding-left: 20px;
    }

    .hero-container p {
        font-size: 18px;
        padding-left: 20px;
    }

    .logo-image {
        max-width: 100px;
        height: auto;
        margin-left: 20px;
        margin-top: 15px;
    }

    .menu ul {
        display: block;
        padding-left: 0;
        margin: 0;
    }

    .menu-item {
        margin: 15px 0;
        text-align: center;
    }

    .header-buttons {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
    }

    .header-button {
        padding: 4px;
    }

    .header-button .button-icon {
        font-size: 1.6rem;
    }

    .header-button .button-text {
        font-size: 14px;
    }
}