.account-container {
    background: #CAD4DF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

.account-container h1 {
    color: black;
    font-size: 36px;
}

.account-container p {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

.account-section {
    background: #656E77;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
    border-radius: 16px;
    width: 600px;
    height: 400px;
    align-items: center;

}

.account-section label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: -10px;
    padding-left: 14px;
    padding-top: 14px;
    color: white;
}

.account-section input {
    width: 320px;
    margin-bottom: 30px;
    margin-left: 14px;
}

.acc-open {
    font-weight: bold;
    margin-left: 110px;
    margin-right: 110px;
    margin-bottom: 20PX;
    background-color: white;
}

.acc-open:hover {
    background-color: #cecece;
}

.menu-icon-acc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    position: absolute;
    left: 40px;
    top: 100px;
}

.account-section p {
    color: white;
}

.account-section h2 {
    color: rgb(244, 199, 141);
    font-size: 30px;
    text-decoration: underline;
    margin-top: 40px;
    margin-bottom: 40px;
}

.icon-edit-icon {
    margin-left: 16px;
}

.icon-cancel-icon {
    margin-left: 16px;
}

.acc-close {
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    font-weight: bold;
    margin-top: 40px;
}

.acc-close:hover {
    background-color: #cecece;
}

@media screen and (min-width: 567px) and (max-width: 767px) {
    .account-section {
        background: #656E77;
        display: flex;
        flex-direction: column;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
        border-radius: 16px;
        width: 90%;
        max-width: 600px;
        height: 400px;
        align-items: center;
        margin: 10px auto 0;
    }
}