.create-shipment-container {
    height: 100vh;
    background: #656e77;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    /* margin-top: 10px; */
  }

  .create-shipment-header {
    display: flex;
    align-items: center; /* Vertically align items */
    justify-content: space-between; /* Space out the hamburger and headings */
    padding: 0 20px; /* Optional: Add horizontal padding */
    background-color: #CAD4DF;
    position: relative; /* Ensures proper positioning */
}

.create-shipment-headings {
    flex-grow: 1; /* Ensures it takes up available space */
    text-align: center; /* Center-align the text within this section */
}

.create-shipment-header h1 {
    font-size: 32px;
    margin: 10px 0 -10px 0; /* Adjust margins for alignment */
}

.create-shipment-header p {
    font-size: 16px;
    margin: 10px 0 26px 0; /* Adjust margins for alignment */
}
  
  .create-shipment-form {
    /* border: 1px solid blue; */
    width: 80%;
    max-width: 900px;
    margin-left: 320px;
    padding: 10px 16px;
    box-shadow: 0 12px 12px rgba(91, 66, 66, 0.6);
    border-radius: 20px;
    margin-top: 8px;
  }
  
  .create-shipment-section {
    display: flex;
    gap: 20px; /* Add space between the two sections */
    /* background: #656e77; */
  }
  
  .create-shipment-left-section,
  .create-shipment-right-section {
    display: flex;
    flex-direction: column; /* Arrange inputs in a column */
    width: 50%; /* Ensure both sections take up half the width */
  }
  
  .create-shipment-left-section {
    padding: 10px;
  }
  
  .create-shipment-right-section {
    padding: 10px;
  }
  
  .create-shipment-form label {
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
  }
  
  .create-shipment-form input,
  .create-shipment-form select,
  .create-shipment-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    /* border: 1px solid #000000; */
    border-radius: 4px;
    margin-bottom: 15px; 
    background-color: rgb(231, 228, 228);
  }
  
  .create-shipment-form button[type="submit"] {
    background-color: white;
    margin-right: 100px;
    margin-left: 100px;
    color: black;
    font-weight: bold;
    margin-top: 20px;
  }

  .create-shipment-form button[type="submit"]:hover {
    background: #cecece;
  }
  
  .create-shipment-form button[type="button"] {
    background-color: white;
    margin-right: 100px;
    margin-left: 100px;
    color: black;
    font-weight: bold;
    margin-top: 5px;
  }

  .create-shipment-form button[type="button"]:hover {
    background: #cecece;
  }
  
  .menu-icon-cs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    margin-left: 20px; /* Adjust as needed for spacing */
}